section.main .content .markdown li {
    margin-bottom: 15px;
}

section.main .content .page-heading {
    font-weight: 300;
}

a {
    color: #F05927;
}

a:hover {
    color: #1c8c4a;
}

.page-heading {
    font-size: 28px;
    font-weight: 400;
}

.post-item {
    margin-bottom: 150px;
}

.page-heading a {
    color: #F05927;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
}

.page-heading a:hover {
    color: #F05927;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
}

section.main .content .page-heading {
    font-size: 28px;
     font-weight: 400;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
}

section.main .container .content .post-item {
    list-style: none;
}

.post-date {
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}

.moretag {
    margin-top: 10px;
    display: inline-block;
    background: #F05927;
    padding: 7px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
}

.moretag:hover {
    margin-top: 10px;
    display: inline-block;
    background: #e25323;
    padding: 7px;
    font-size: 14px;
    color: #fff;
}

.featured {
    margin-bottom: 10px;
    display: block;
}

@media (min-width: 600px) {
    section.header nav ul li:hover {
        color: #F05927;
    }
}